<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HEX {{title}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
	<script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
	{% block header %}
	<header>
		<div class="container">
			<div class="top__line">
				<div class="logo">
					<a href="/" class="logo__link">HEX</a>
					
					<p class="last__item" id='theme-switch-name'><i class="uil uil-moon"></i></p>

					<label class="switch">
						<input type="checkbox" class='switch__input' id='theme-switch-checkbox' />
						<span class="switch__slider"></span>
					</label>
				</div>

				<ul class="top__menu">
					<li class="top__menu__item">
						<a href="/blog" class="top__menu__link">Блог</a>
					</li>
					<li class="top__menu__item">
						<a href="/articles" class="top__menu__link">Статьи</a>
					</li>
					<li class="top__menu__item">
						<a href="/contacts" class="top__menu__link">Контакты</a>
					</li>
					<li class="top__menu__item">
						<a href="/donate" class="top__menu__link">Донат</a>
					</li>
				</ul>

				<div class="bar">
					<div class="bar__item user">
						<a class="bar__item__link" href="/profile"><i class="uil uil-user"></i></a>
					</div>
					<div class="bar__item search">
						<a class="bar__item__link" href="/search"><i class="uil uil-search"></i></a>
					</div>
					<div class="bar__item cart">
						<a class="bar__item__link" href="/settings"><i class="uil uil-setting"></i></a>
					</div>
					<div class="bar__item user">
						<a class="bar__item__link" href="/archive"><i class="uil uil-archive"></i></a>
					</div>
					<div class="bar__item user">
						<a class="bar__item__link" href="/projects"><i class="uil uil-code-branch"></i></a>
					</div>

					<div class="burger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</header>
	{% endblock %}

	<div class="wrapper">
		{% block content %}
		{% endblock %}
	</div>

	<div class="footer">
		<div class="container">
			<div class="top__line">
				<div class="bar__footer">
					<div class="bar__item cart">
						<a class="bar__item__link" href="https://t.me/hex_warehouse" target="blank"><i class="uil uil-telegram"></i></a>
					</div>
				</div>

				<div class="info">
					<p>HEX (C) 2024</p>
				</div>
			</div>
		</div>
	</div>

	<div id="notifications-container" class='notifications'></div>

	<script src="{{ url_for('static', filename='js/switcher.js') }}"></script>
	<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
	<script src="{{ url_for('static', filename='js/other.js') }}"></script>
	<script src='https://cdn.jsdelivr.net/npm/marked/marked.min.js'></script>

{% block end %}
{%endblock%}

</body>
</html>